.o_required_modifier.o_input, .o_required_modifier .o_input{
background-color:#D2D2FF!important;
}

.o_form_view.o_sale_order .o_notebook > .tab-content > .tab-pane > :first-child.o_field_x2many.o_field_x2many_list, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_field_widget.o_invisible_modifier + .o_field_x2many.o_field_x2many_list {
  display: inline-block;
  width: auto;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

.o_form_view.o_sale_order.o_form_view .o_notebook{

clear: both;
  margin-top: 10px;
 white-space: -moz-pre-space;

}
.o_form_view.o_sale_order.o_form_view .o_group.o_inner_group.oe_subtotal_footer
{
  border-top: 1px solid #C9CCD2;
  margin-right: 0%;
}


/*html .o_web_client > .o_action_manager {
  position: relative;
  height: 100%;
}
.openerp .oe_application > div > .oe_view_manager > .oe_view_manager_wrapper {
  display: table-row;
  height: 100%;
}
html .o_web_client > .o_action_manager > .o_action > .o_content {
  position: relative;
  height: 100%;
}


html .o_web_client > .o_action_manager > .o_action > .o_content > .o_form_view.o_sale_order.o_form_readonly.o_xxl_form_view  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}


.o_form_view.o_sale_order.o_form_readonly.o_xxl_form_view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
.o_form_view.o_xxl_form_view
{
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 100%;
  position: absolute;
}


html .o_web_client > .o_action_manager > .o_action > .o_content > .o_form_view.o_sale_order.o_form_readonly.o_xxl_form_view >

.o_form_sheet_bg > clearfix position-relative o_form_sheet > .o_form_view .o_notebook{

clear: both;
  margin-top: 10px;
  position: absolute;

}



.o_form_view.o_sale_order.o_form_view .o_notebook{

clear: both;
  margin-top: 10px;
  position: absolute;

}


.o_form_view.o_sale_order.o_form_view .o_group.o_inner_group.oe_subtotal_footer
{
  border-top: 1px solid #C9CCD2;
  margin-right: 60%;
}
/*.o_form_view.o_sale_order.o_form_view .oe_right, .o_form_view .o_group.o_inner_group.oe_subtotal_footer

{
  float: right !important;
  margin-right: 80%;
}


